<component name="ArtifactManager">
  <artifact type="war" name="springmvc-java-config-example:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-java-config-example</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-java-config-example-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-java-config-example:war exploded" />
    </root>
  </artifact>
</component>