<component name="ArtifactManager">
  <artifact type="war" name="springmvc5-helloworld-exmaple:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc5-helloworld-exmaple</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc5-helloworld-exmaple-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc5-helloworld-exmaple:war exploded" />
    </root>
  </artifact>
</component>